{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录界面</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "assets/media/image/logo.png" %}"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{% static "vendors/css/bundle.css" %}" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="{% static "assets/css/app.min.css" %}" type="text/css">
    <style>
        .form-control {
            margin-bottom: 0 !important;
        }
    </style>
</head>
<body class="form-membership">

<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" src="{% static "assets/media/image/logo.png" %}" alt="image">
    </div>
    <!-- ./ logo -->

    <h4>社区养老公寓服务管理系统</h4>

    <h5>登录</h5>

    <!-- form -->
    <form  action="javascript:void(0); " novalidate="">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" id="mobile_phone" class="form-control" name="mobile_phone" placeholder="账号" autocomplete="username" tautofocus>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" autocomplete="current-password">
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">记住用户名和密码</label>
            </div>
            <a href="/modify_password/">忘记密码</a>
        </div>
        <button type="submit" id="submit" class="btn btn-primary btn-block login-button">登录</button>
        <hr>
        <p class="text-muted">没有账号？</p>
        <a href="/register/" class="btn btn-outline-light btn-sm">注册</a>
    </form>
    <!-- ./ form -->

</div>
<!-- Plugin scripts -->
<script src="{% static "vendors/js/bundle.js" %}"></script>

<!-- App scripts -->
<script src="{% static "assets/js/app.min.js" %}"></script>

<!-- jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>


<!-- notify -->
<script src="{% static 'js/notify.js' %}"></script>

<!-- validate -->
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

<script>
    function getCsrfToken() {
        return document.cookie.split('; ')
            .find(row => row.startsWith('csrftoken='))
            ?.split('=')[1];
    }

    $('#submit').click(function () {
        var btn = $(this);
        var form = $(this).closest('form');

        form.validate({
            rules: {
                mobile_phone: {
                    required: true,
                },
                password: {
                    required: true
                }
            },
            messages: {
                mobile_phone: {
                    required: "请填写手机号",
                },
                password: "请填写密码"
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());
                element.addClass('is-invalid');
                error.addClass('invalid-feedback');
            }
        });
        if (!form.valid()) {
            return;
        }


        $("#submit").text('正在登录').attr('disabled', true);

        $.ajax({
            type: "POST",
            url: "/login/",
            dataType: "json",
            headers: {
                {#"X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(), #}
                "X-CSRFToken": getCsrfToken()// 根据Django的要求，通常使用这个头部名称
            },
            data: {
                mobile_phone: $("#mobile_phone").val(),
                passwd: $("#password").val(),
                code: $("#2fa-code").val(), remember_me: $("#remember-me:checked").val(),
            },
            success: function (data) {
                if (data.ret === 1) {
                    $.notify({
                        title: '<strong>' + data.msg + '</strong>',
                        message: '正在转入用户中心'
                    }, {type: 'success', placement: {from: "top", align: "center"},});
                    window.setTimeout("location.href='/index'", 1000);

                } else if (data.ret === 2) {
                    $("#submit").text('登录').attr('disabled', false);
                    $('#2fa-form').show('fast');
                    $.notify({
                        message: '<strong>' + data.msg + '</strong>'
                    }, {
                        type: 'warning',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        timer: 500,
                        animate: {
                            enter: 'animated zoomIn',
                            exit: 'animated zoomOut'
                        }
                    });
                } else {
                    $("#submit").text('登录').attr('disabled', false);
                    $.notify({
                        title: '<strong>登录失败</strong>-',
                        message: data.msg
                    }, {
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        timer: 500,
                        animate: {
                            enter: 'animated zoomIn',
                            exit: 'animated zoomOut'
                        }
                    });
                }
            }
        });
    });

</script>
</body>
</html>