{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册界面</title>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{% static "vendors/css/bundle.css" %}" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="{% static "assets/css/app.min.css" %}" type="text/css">
</head>
<body class="form-membership">


<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" src="{% static "assets/media/image/logo.png" %}" alt="image">
    </div>
    <!-- ./ logo -->

    <h4>智慧养老系统后台</h4>

    <h5>注册</h5>

    <!-- form -->
    {#    <form>#}
    {#        <div class="form-group">#}
    {#            <input type="text" class="form-control" placeholder="管理员用户名" required autofocus>#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <input type="password" class="form-control" placeholder="密码" required>#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <input type="text" class="form-control" placeholder="用户真实姓名">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <input type="text" class="form-control" placeholder="性别">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <input type="email" class="form-control" placeholder="邮箱">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <input type="text" class="form-control" placeholder="电话" required>#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <input type="text" class="form-control" placeholder="移动电话">#}
    {#        </div>#}
    {#        <button class="btn btn-primary btn-block">注册</button>#}
    {#        <hr>#}
    {#        <p class="text-muted">已经有账号了？</p>#}
    {#        <a href="/login/" class="btn btn-outline-light btn-sm">登录</a>#}
    {#    </form>#}
    <!-- ./ form -->

    <form class="form-group" action="javascript:void(0);" method="POST"
          novalidate="" id="login-form">
        <fieldset class="form-label-group position-relative has-icon-left">
            <div class="input-group login-form">
                <input id="name" class="form-control" type="text"
                       placeholder="昵称" name="name" required="">
            </div>
            <div class="form-control-position">
                <i class="feather icon-user"></i>
            </div>
        </fieldset>
        <fieldset class="form-label-group position-relative has-icon-left">
            <div class="input-group login-form">
                <input id="email" class="form-control" type="text"
                       placeholder="邮箱(仅常见邮箱)" name="email" required="">
            </div>
            <div class="form-control-position">
                <i class="feather icon-mail"></i>
            </div>
        </fieldset>
        <fieldset class="form-label-group position-relative has-icon-left">
            <div class="input-group login-form">
                <input id="passwd" class="form-control" type="password"
                       placeholder="密码" name="passwd" required="">
            </div>
            <div class="form-control-position">
                <i class="feather icon-lock"></i>
            </div>
        </fieldset>
        <fieldset class="form-label-group position-relative has-icon-left">
            <div class="input-group login-form">
                <input id="repasswd" class="form-control" type="password"
                       placeholder="重复密码" name="repasswd" required="">
            </div>
            <div class="form-control-position">
                <i class="feather icon-lock"></i>
            </div>
        </fieldset>
        <br>
        <button class="btn btn-primary btn-block" id="register-button">注册</button>
        <hr>
        <p class="text-muted">已经有账号了？</p>
        <a href="/login/" class="btn btn-outline-light btn-sm">登录</a>

</div>

<!-- Plugin scripts -->
<script src="{% static "vendors/js/bundle.js" %}"></script>

<!-- App scripts -->
<script src="{% static "assets/js/app.min.js" %}"></script>

<!-- jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

<!-- notify -->
<script src="{% static 'js/notify.js' %}"></script>


<!-- sweetalert2 -->
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script>
    // 注册后自动登录
    function login(email, passwd) {
        $.ajax({
            type: "POST",
            url: "/login/",
            dataType: "json",
            data: {
                'email': email,
                'passwd': passwd,
                'code': '',
                'remember_me': 1,
                'csrfmiddlewaretoken': '{{ csrf_token }}'

            },
            success: function (data) {
                window.location.assign('/index/')
            }
        });
    }

    "use strict";
    var KTLoginGeneral = function () {
        var handleSignInFormSubmit = function () {
            $('#register-button').click(function (e) {
                e.preventDefault();
                var btn = $(this);
                var form = $(this).closest('form');
                form.validate({
                    rules: {
                        name: {
                            required: true
                        },
                        email: {
                            required: true
                        },

                        email_code: {
                            required: true
                        },

                        passwd: {
                            required: true,
                            minlength: 8
                        },
                        repasswd: {
                            required: true
                        }
                    },
                    messages: {
                        name: "请填写昵称",
                        email: "请填写邮箱",
                        email_code: "请填写邮箱验证码",
                        passwd: {
                            required: "请填写密码",
                            minlength: "密码至少需要8位以上"
                        },
                        repasswd: "请再次填写密码",
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent());
                        element.addClass('is-invalid');
                        error.addClass('invalid-feedback');
                    }
                });
                if (!form.valid()) {
                    $.notify({
                        message: '<strong>请完善注册资料</strong>'
                    }, {
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        timer: 1000,
                        animate: {
                            enter: 'animated zoomIn',
                            exit: 'animated zoomOut'
                        }
                    });
                    return;
                }

                $("#register-button").text('注册中');
                $('#register-button').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);

                var email = $("#email").val();

                $.ajax({
                    type: "POST",
                    url: "/register/",
                    dataType: "json",
                    data: {
                        'email': email,
                        'name': $("#name").val(),
                        'passwd': $("#passwd").val(),
                        'repasswd': $("#repasswd").val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.ret === 1) {
                            swal.fire({
                                type: 'success',
                                title: '注册成功',
                                confirmButtonText: '转入用户中心',
                                confirmButtonClass: 'btn btn-info',
                                onClose: () => {
                                    login(email, $("#passwd").val());
                                }
                            });
                        } else {
                            $("#register-button").text('注册');
                            $('#register-button').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                            $.notify({
                                message: '<strong>' + data.msg + '</strong>'
                            }, {
                                type: 'danger',
                                placement: {
                                    from: "top",
                                    align: "center"
                                },
                                timer: 2000,
                                animate: {
                                    enter: 'animated zoomIn',
                                    exit: 'animated zoomOut'
                                }
                            });
                        }
                    }
                });
            });

        }
        return {
            init: function () {
                handleSignInFormSubmit();
            }
        };
    }();
    jQuery(document).ready(function () {
        KTLoginGeneral.init();
    });
</script>

</body>
</html>