{% extends template_name %}
{% load static %}

{% block app-head %}
    <title>编辑老年人信息-监护人信息</title>
    <!-- sweetalert2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.min.css' %}">
{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>老年人监护人信息编辑</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">老年人信息管理</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">老年人监护人信息编辑</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-10">

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-between align-items-center">
                                原信息
                            </h6>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">第一监护人姓名：</div>
                                <div class="col-6">{{ item.secondguardian_name|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">与第一监护人关系：</div>
                                <div class="col-6">{{ item.firstguardian_relationship|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">第一监护人电话:</div>
                                <div class="col-6">{{ item.firstguardian_phone|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">第一监护人微信:</div>
                                <div class="col-6">{{ item.firstguardian_wechat|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">第二监护人姓名:</div>
                                <div class="col-6">{{ item.secondguardian_name|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">与第二监护人关系:</div>
                                <div class="col-6">{{ item.secondguardian_relationship|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">第二监护人电话:</div>
                                <div class="col-6">{{ item.secondguardian_phone|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">第二监护人微信:</div>
                                <div class="col-6">{{ item.secondguardian_wechat|default:"暂无" }}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">

                            <h6 class="card-title">老年人监护人信息修改</h6>

                            <div class="row">
                                <div class="col-md-8">
                                    <form id="formId" action="javascript:void(0);" method="POST"
                                          enctype="multipart/form-data" novalidate>
                                        <div class="form-group row">
                                            {% csrf_token %}
                                            <label class="col-sm-4 col-form-label">第一监护人姓名</label>
                                            <div class="col-sm-8">
                                                <input name="input9" type="text" class="form-control"
                                                       placeholder="请输入第一监护人姓名"
                                                       value="{{ item.secondguardian_name|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">与第一监护人关系</label>
                                            <div class="col-sm-8">
                                                <input name="input10" type="text" class="form-control"
                                                       placeholder="请输入老人与该监护人的关系"
                                                       value="{{ item.firstguardian_relationship|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第一监护人电话</label>
                                            <div class="col-sm-8">
                                                <input name="input11" type="text" class="form-control"
                                                       placeholder="请输入第一监护人的电话号码"
                                                       value="{{ item.firstguardian_phone|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第一监护人微信</label>
                                            <div class="col-sm-8">
                                                <input name="input12" type="text" class="form-control"
                                                       placeholder="请输入第一监护人的微信号"
                                                       value="{{ item.firstguardian_wechat|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第二监护人姓名</label>
                                            <div class="col-sm-8">
                                                <input name="input13" type="text" class="form-control"
                                                       placeholder="请输入第二监护人姓名"
                                                       value="{{ item.secondguardian_name|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">与第二监护人关系</label>
                                            <div class="col-sm-8">
                                                <input name="input14" type="text" class="form-control"
                                                       placeholder="请输入老人与该监护人的关系"
                                                       value="{{ item.secondguardian_relationship|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第二监护人电话</label>
                                            <div class="col-sm-8">
                                                <input name="input15" type="text" class="form-control"
                                                       placeholder="请输入第二监护人的电话号码"
                                                       value="{{ item.secondguardian_phone|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第二监护人微信</label>
                                            <div class="col-sm-8">
                                                <input name="input16" type="text" class="form-control"
                                                       placeholder="请输入第二监护人的微信号"
                                                       value="{{ item.secondguardian_wechat|default:"暂无" }}">
                                            </div>
                                        </div>
                                        <button type="submit" id="save-button" class="btn btn-primary"
                                                onclick="saveInfo()">修改信息
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->
{% endblock %}

{% block app-foot %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-fileinput.js" %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- sweetalert2 -->
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <!-- notify -->
    <script src="{% static 'js/notify.js' %}"></script>
    <script>
        function saveInfo() {
            var formData = new FormData(document.getElementById('formId'));
            formData.append("id", {{ item.id }})

            // 获取CSRF token的函数
            function getCsrfToken() {
                return $('[name="csrfmiddlewaretoken"]').val();
            }

            $("#save-button").text('信息修改中');
            $('#save-button').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "{% url 'modify_old_guardian' %}", // 请求的 URL
                processData: false, // 告诉jQuery不要处理发送的数据
                contentType: false, // 告诉jQuery不要设置内容类型头
                data: formData, // 表单数据
                beforeSend: function (xhr) {
                    // 从cookie中获取CSRF令牌并设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                success: function (data) {
                    // 请求成功时的回调函数
                    if (data.ret === 1) {
                        swal.fire({
                            type: 'success',
                            title: '录入成功',
                            confirmButtonText: '查看详细信息',
                            confirmButtonClass: 'btn btn-info',
                            onClose: () => {
                                window.location.href = '{% url 'old_info' %}?id={{ item.mobile_phone }}';
                            }
                        });
                    } else if (data.ret === 2) {
                        $("#save-button").text('录入信息');
                        $('#save-button').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                        $.notify({
                            message: '<strong>' + data.msg + '</strong>'
                        }, {
                            type: 'danger',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 2000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 请求失败时的回调函数
                    console.log('更新失败: ' + error);
                }
            });
        }
    </script>
{% endblock %}
