{% extends template_name %}
{% load static %}

{% block app-head %}
    <title>老年人信息查询</title>
    <style>
        #searchForm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        #searchKey {
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 20px;
            box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
            width: 100%;
            transition: box-shadow 0.3s ease;
            box-sizing: border-box;
        }

        #searchKey:focus {
            outline: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #sub-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 20px;
            margin-left: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-sizing: border-box;
        }

        #sub-button:hover {
            background-color: #45a049;
        }

    </style>
{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>信息查询</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">老年人信息管理</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">信息查询</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">

                 <div class="card-body overflow-hidden card-changecolor">
                        <div class="page-header page-header-cover">
                            <div class="container">
                                <form id="searchForm" method="get" onsubmit="event.preventDefault();
                                              handleSearch(); return false;">
                                    <input id="searchKey" value="{{ key }}" type="text" name="query"
                                           placeholder="请输入你想搜索的关键字..." class="form-control"
                                                       aria-label="Example text with button addon">
                                    <button id="sub-button" type="button" value="搜索">搜索</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="table-old">
                                    <thead>
                                    <tr>
                                        <th scope="col">老人id</th>
                                        <th scope="col">老人姓名</th>
                                        <th scope="col">性别</th>
                                        <th scope="col">房间号</th>
                                        <th scope="col">头像</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for Elder in page_obj %}
                                        <tr>
                                            <td>{{ Elder.id }}</td>
                                            <td>{{ Elder.username }}</td>
                                            <td>
                                                {% if Elder.gender == 'M' %}
                                                    男
                                                {% elif Elder.gender == 'F' %}
                                                    女
                                                {% else %}
                                                    未知
                                                {% endif %}
                                            </td>
                                            <td>{{ Elder.room_number|default:"暂无" }}</td>
                                            <td>
                                                <figure class="avatar avatar-sm">
                                                    {% if Elder.elder_photo %}
                                                        <img src="{{ MEDIA_URL }}{{ Elder.elder_photo }}"
                                                             class="rounded-circle" alt="image">
                                                    {% else %}
                                                        <img src="{% static "assets/media/image/user/13.jpg" %}"
                                                             class="rounded-circle" alt="image">
                                                    {% endif %}
                                                </figure>
                                            </td>
                                            <td>
                                                <a href="/management/old_info?id={{ Elder.id }}">
                                                    <button type="button"
                                                            class="btn btn-outline-primary">详细信息
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page=1&key={{ key }}">首页</a>
                                                    </li>
                                                    {% if page_obj.number > 1 %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.previous_page_number }}&key={{ key }}">&laquo;
                                                                上一页</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page=1&key={{ key }}">&laquo;
                                                                上一页</a>
                                                        </li>
                                                    {% endif %}

                                                    {% for num in page_obj.paginator.page_range %}
                                                        {% if page_obj.number == num %}
                                                            <li class="page-item active"><a class="page-link"
                                                                                            href="?page={{ num }}&key={{ key }}">{{ num }}</a>
                                                            </li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?page={{ num }}&key={{ key }}">{{ num }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if page_obj.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.next_page_number }}&key={{ key }}">下一页
                                                                &raquo;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.number }}&key={{ key }}">下一页
                                                                &raquo;</a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.paginator.num_pages }}&key={{ key }}">尾页</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="col-auto">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="page-number">跳转到页码:</label>
                                                    <input type="number" class="form-control mx-2" id="page-number"
                                                           min="1" max="{{ page_obj.paginator.num_pages }}"
                                                           value="{{ page_obj.number }}">
                                                    <button type="button" class="btn btn-primary"
                                                            onclick="event.preventDefault(); window.location.href='?key={{ key }}&page=' + document.getElementById('page-number').value;">
                                                        跳转
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->
{% endblock %}

{% block app-foot %}
    <script>
        function handleSearch() {
            var searchKey = document.getElementById('searchKey').value;
            var url = "/management/select_old?page=1&key=" + encodeURIComponent(searchKey);
            window.location.href = url;
        }

        document.getElementById('sub-button').addEventListener('click', function (e) {
            // 阻止表单的默认提交行为
            e.preventDefault();
            handleSearch();           // 调用处理搜索的函数
        });

    </script>
{% endblock %}