{% extends "template/index_manager_tem.html" %}
{% load static %}

{% block app-head %}
    <title>工作人员信息删改</title>
    <style>
        .modal-footer-centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/search.css" %}">
    <style>
        #searchForm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        #searchKey {
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 20px;
            box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
            width: 100%;
            transition: box-shadow 0.3s ease;
            box-sizing: border-box;
        }

        #searchKey:focus {
            outline: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #sub-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 20px;
            margin-left: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-sizing: border-box;
        }

        #sub-button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>工作人员信息列表</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">工作人员信息管理</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">工作人员信息列表</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">

                    <div class="card-body overflow-hidden card-changecolor p-t-0 p-b-0">
                        <div class="page-header page-header-cover">
                            <div class="container">
                                <form id="searchForm" method="get" onsubmit="event.preventDefault();
                                              handleSearch(); return false;">
                                    <input id="searchKey" value="{{ key }}" type="text" name="query"
                                           placeholder="请输入你想搜索的关键字..."
                                           aria-label="Example text with button addon">
                                    <input id="sub-button" type="button" value="搜索">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="table-worker">
                                    <thead>
                                    <tr>
                                        <th scope="col">工作人员id</th>
                                        <th scope="col">工作人员姓名</th>
                                        <th scope="col">性别</th>
                                        <th scope="col">电话</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in page_obj %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.username }}</td>
                                            <td>
                                                {% if item.gender == 'M' %}
                                                    男
                                                {% elif item.gender == 'F' %}
                                                    女
                                                {% else %}
                                                    未知
                                                {% endif %}
                                            </td>
                                            <td>{{ item.mobile_phone|default:"暂无" }}</td>
                                            <td>
                                                <figure class="avatar avatar-sm">
                                                    {% if item.staff_photo %}
                                                        <img src="{{ MEDIA_URL }}{{ item.staff_photo }}"
                                                             class="rounded-circle" alt="image">
                                                    {% else %}
                                                        <img src="{% static "assets/media/image/user/13.jpg" %}"
                                                             class="rounded-circle" alt="image">
                                                    {% endif %}
                                                </figure>
                                            </td>
                                            <td>
                                                <a href="{% url 'worker_info' %}?id={{ item.mobile_phone }}">
                                                    <button type="button"
                                                            class="btn btn-outline-primary">详细信息
                                                    </button>
                                                </a>
                                            </td>
                                        <td>
                                                <a href="{% url 'account_info' %}{% if item.bind_user_id %}?id={{ item.bind_user_id }}{% endif %}">
                                                    <button type="button"
                                                            class="btn btn-outline-light">绑定账号信息
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'modify_worker_basic' %}?id={{ item.id }}">
                                                    <button type="button"
                                                            class="btn btn-outline-primary">修改工作人员基本信息
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <button type="button" onclick="setCurrentItemId(this)"
                                                        class="btn btn-danger btn-square btn-uppercase"
                                                        data-toggle="modal" data-target="#delete-verify"
                                                        data-whatever="@fat" data-id="{{ item.id }}">
                                                    <i class="ti-trash mr-2"></i> 删除
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="?key={{ key }}&page=1">首页</a>
                                                    </li>
                                                    {% if page_obj.number > 1 %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?key={{ key }}&page={{ page_obj.previous_page_number }}">&laquo;
                                                                上一页</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?key={{ key }}&page=1">&laquo;
                                                                上一页</a>
                                                        </li>
                                                    {% endif %}

                                                    {% for num in page_obj.paginator.page_range %}
                                                        {% if page_obj.number == num %}
                                                            <li class="page-item active"><a class="page-link"
                                                                                            href="?key={{ key }}&page={{ num }}">{{ num }}</a>
                                                            </li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?key={{ key }}&page={{ num }}">{{ num }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if page_obj.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?key={{ key }}&page={{ page_obj.next_page_number }}">下一页
                                                                &raquo;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?key={{ key }}&page={{ page_obj.number }}">下一页
                                                                &raquo;</a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?key={{ key }}&page={{ page_obj.paginator.num_pages }}">尾页</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="col-auto">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="page-number">跳转到页码:</label>
                                                    <input type="number" class="form-control mx-2" id="page-number"
                                                           min="1" max="{{ page_obj.paginator.num_pages }}"
                                                           value="{{ page_obj.number }}">
                                                    <button type="submit" class="btn btn-primary"
                                                            onclick="event.preventDefault(); window.location.href='?key={{ key }}&page=' + document.getElementById('page-number').value;">
                                                        跳转
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->

    <!-- modal -->
    <div class="modal fade" id="delete-verify" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">删除信息验证</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p>是否确定删除该信息？</p>
                        <div class="modal-footer modal-footer-centered">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="del_data()">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app-foot %}
    <script>
        var currentItemId;

        function setCurrentItemId(element) {
            // 从被点击的按钮中获取数据属性data-id的值
            currentItemId = $(element).data('id');
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function del_data() {
            // 使用currentItemId变量，它现在包含被选中的老人的ID
            $.ajax({
                type: "POST",
                url: "{% url 'modify_worker' %}",
                headers: {"X-CSRFToken": csrftoken},
                data: {
                    id: currentItemId,
                },
                success: function (data) {
                    console.log('删除成功！');
                    window.location.reload("/management/modify_worker/");
                },
                error: function (xhr, status, error) {
                    console.log('删除失败，请重试！');
                }
            });
        }

        function getCsrfToken() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }

    </script>
    <script>
        function handleSearch() {
            var searchKey = document.getElementById('searchKey').value;
            var url = "/management/modify_worker?page=1&key=" + encodeURIComponent(searchKey);
            window.location.href = url;
        }

        document.getElementById('sub-button').addEventListener('click', function (e) {
            // 阻止表单的默认提交行为
            e.preventDefault();
            handleSearch();           // 调用处理搜索的函数
        });

    </script>
{% endblock %}