{% extends template_name %}
{% load static %}

{% block app-head %}
    <title>排班信息修改</title>
    <link href="{% static "assets/css/bootstrap-fileinput.css" %}" rel="stylesheet">

    <style>
        body {
            padding: 0;
            margin: 0 10px;
        }

        .title {
            padding: 0;
            margin: 10px 0;
            font: 700 18px/1.5 \5fae\8f6f\96c5\9ed1;
            text-align: center;
        }

        .title a {
            font: 400 14px/1.5 Tahoma;
            margin-left: 20px;
        }

        .example {
            position: absolute;
            top: 150px;
            left: 50%;
            margin-left: -275px;
            font-size: 12px;
        }

        .example .item {
            border: 1px solid #85BEE5;
        }

        .example input {
            color: #404040;
            padding: 3px;
            width: 170px;
            height: 18px;
            line-height: 18px;
            border: 1px solid #AFAFAF;
            font: 12px/18px Arial;
        }

        .example button {
            margin-right: 50px;
        }

        .checkie6 {
            padding: 3px;
            width: 178px;
            border: 1px solid #AFAFAF;
            font: 12px/1.5 Arial;
        }
    </style>
    <script src="{% static "plugin/yui3-3.18.1/yui3/build/yui/yui-min.js" %}"></script>
    <script>
        YUI({
            modules: {
                'trip-calendar': {
                    fullpath: '{% static 'vendors/datepicker/trip-calendar.js' %}',
                    type: 'js',
                    requires: ['trip-calendar-css']
                },
                'trip-calendar-css': {
                    fullpath: '{% static 'vendors/datepicker/trip-calendar.css' %}',
                    type: 'css'
                }
            }
        }).use('trip-calendar', function (Y) {

            /**
             * 弹出式日历实例
             * 将日历与指定的触发元素绑定
             * 日历可根据浏览器窗口大小，自动调整显示位置
             */
            var oCal = new Y.TripCalendar({
                //绑定日历的节点，支持选择器模式，可批量设置（必选）
                triggerNode: '.J_Item, #J_Item-1, #J_Item-2, .J_Link'
            });

            oCal.on('dateclick', function (e) {
                this.getCurrentNode().setAttribute('data-date', e.date);
            });

            //显示日历时自定义事件
            oCal.on('show', function () {
                var v = this.getCurrentNode().getAttribute('data-date');
                this.set('date', v || new Date);
                this.set('selectedDate', v).render();
            });

            //解决chrome的foucs事件bug
            Y.on('click', function (e) {
                e.currentTarget.focus();
            }, '.J_Item, button, .J_Link');
        });
    </script>
    <!-- sweetalert2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.min.css' %}">
{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>排班信息更改</h4>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-between align-items-center">
                                原信息
                            </h6>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">星期：</div>
                                <div class="col-6">{{ item.get_weekday_display|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">员工：</div>
                                <div class="col-6">{{ item.staff_name|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">员工联系方式：</div>
                                <div class="col-6">{{ item.staff_phone|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">义工：</div>
                                <div class="col-6">{{ item.volunteer_name|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">义工联系方式：</div>
                                <div class="col-6">{{ item.volunteer_phone|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">区域:</div>
                                <div class="col-6">{{ item.area|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">班次:</div>
                                <div class="col-6">{{ item.shift|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">班次时间段:</div>
                                <div class="col-6">{{ item.get_shift_display|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">出生日期:</div>
                                <div class="col-6">
                                    {{ item.birthday|date:"Y-m-d"|default:"暂无" }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">访问日期：</div>
                                <div class="col-6">{{ item.checkin_date|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">离开日期：</div>
                                <div class="col-6">{{ item.checkout|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">描述：</div>
                                <div class="col-6">{{ item.description|default:"暂无" }}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">

                            <h6 class="card-title">义工基本信息修改</h6>

                            <div class="row">
                                <div class="col-md-8">
                                    <form id="formId" action="javascript:void(0);" method="POST"
                                          enctype="multipart/form-data" novalidate>
                                        {% csrf_token %}
                                        <div class="container">

                                            <div class="form-group row">
                                                <label for="staff_name"
                                                       class="col-sm-4 col-form-label">工作人员姓名<span
                                                    style="color: red; font-weight: bold;">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="staff_name" name="staff_name"
                                                           class="form-control" placeholder="请输入工作人员姓名"
                                                           value="{{ item.staff_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staff_phone"
                                                       class="col-sm-4 col-form-label">工作人员联系方式<span
                                                    style="color: red; font-weight: bold;">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="staff_phone" name="staff_phone"
                                                           class="form-control" placeholder="请输入工作人员联系方式"
                                                           value="{{ item.staff_phone }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="volunteer_name"
                                                       class="col-sm-4 col-form-label">义工姓名</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="volunteer_name" name="volunteer_name"
                                                           class="form-control" placeholder="请输入义工姓名"
                                                           value="{{ item.volunteer_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="volunteer_phone"
                                                       class="col-sm-4 col-form-label">义工联系方式</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="volunteer_phone" name="volunteer_phone"
                                                           class="form-control" placeholder="请输入义工联系方式"
                                                           value="{{ item.volunteer_phone }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="area" class="col-sm-4 col-form-label">工作区域</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="area" name="area" class="form-control"
                                                           placeholder="请输入工作区域" value="{{ item.area }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="weekday" class="col-sm-4 col-form-label">星期<span
                                                    style="color: red; font-weight: bold;">*</span></label>
                                                <div class="col-sm-8">
                                                    <select id="weekday" name="weekday" class="form-control">
                                                        <option value="">选择星期</option>
                                                        {% for day in item.WEEKDAYS %}
                                                            <option value="{{ day.0 }}"
                                                                    {% if day.0 == selected_weekday %}selected{% endif %}>{{ day.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="shift" class="col-sm-4 col-form-label">班次<span
                                                    style="color: red; font-weight: bold;">*</span></label>
                                                <div class="col-sm-8">
                                                    <select id="shift" name="shift" class="form-control">
                                                        <option value="">选择班次</option>
                                                        {% for shift in item.SHIFTS %}
                                                            <option value="{{ shift.0 }}"
                                                                    {% if shift.0 == selected_shift %}selected{% endif %}>{{ shift.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-8 offset-sm-4">
                                                    <button type="submit" class="btn btn-primary" onclick="saveInfo()">提交修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->
{% endblock %}

{% block app-foot %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-fileinput.js" %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- sweetalert2 -->
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <!-- notify -->
    <script src="{% static 'js/notify.js' %}"></script>
    <script>
        function saveInfo() {
            var form = $("#formId");
            var formData = new FormData(document.getElementById('formId'));
            formData.append("id", {{ item.id }})
            form.validate({
                rules: {
                    staff_name: {
                        required: true
                    },
                    staff_phone: {
                        required: true,
                        rangelength: [11, 11]
                    },

                    weekday: {
                        required: true,
                    },
                    shift: {
                        required: true,
                    }
                },
                messages: {
                    staff_name: "请填写员工名字",
                    staff_phone: {
                        required: "请填写手机号",
                        rangelength: "手机号不正确"
                    },
                    weekday: {
                        required: "请选择星期",
                    },
                    shift: {
                        required: "请选择班次",
                    },
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                    element.addClass('is-invalid');
                    error.addClass('invalid-feedback');
                }
            });
            if (!form.valid()) {
                $.notify({
                    message: '<strong>请完善信息</strong>'
                }, {
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    timer: 1000,
                    animate: {
                        enter: 'animated zoomIn',
                        exit: 'animated zoomOut'
                    }
                });
                return;
            }

            // 获取CSRF token的函数
            function getCsrfToken() {
                return $('[name="csrfmiddlewaretoken"]').val();
            }

            $("#save-button").text('信息修改中');
            $('#save-button').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "{% url 'modify_shift' %}", // 请求的 URL
                processData: false, // 告诉jQuery不要处理发送的数据
                contentType: false, // 告诉jQuery不要设置内容类型头
                data: formData, // 表单数据
                beforeSend: function (xhr) {
                    // 从cookie中获取CSRF令牌并设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                success: function (data) {
                    // 请求成功时的回调函数
                    if (data.ret === 1) {
                        swal.fire({
                            type: 'success',
                            title: '修改成功',
                            confirmButtonText: '查看详细信息',
                            confirmButtonClass: 'btn btn-info',
                            onClose: () => {
                                window.location.href = '{% url 'shift_info' %}?id={{ item.id }}';
                            }
                        });
                    } else {
                        $("#save-button").text('提交修改');
                        $('#save-button').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                        $.notify({
                            message: '<strong>' + data.msg + '</strong>'
                        }, {
                            type: 'danger',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 2000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 请求失败时的回调函数
                    console.log('更新失败: ' + error);
                }
            });
        }
    </script>
{% endblock %}