{% extends "template/index_all.html" %}
{% load static %}

{% block app-head %}
    <title>老年人信息录入</title>
    <link href="{% static "assets/css/bootstrap-fileinput.css" %}" rel="stylesheet">
    <style>
        body {
            padding: 0;
            margin: 0 10px;
        }

        .title {
            padding: 0;
            margin: 10px 0;
            font: 700 18px/1.5 \5fae\8f6f\96c5\9ed1;
            text-align: center;
        }

        .title a {
            font: 400 14px/1.5 Tahoma;
            margin-left: 20px;
        }

        .example {
            position: absolute;
            top: 150px;
            left: 50%;
            margin-left: -275px;
            font-size: 12px;
        }

        .example .item {
            border: 1px solid #85BEE5;
        }

        .example input {
            color: #404040;
            padding: 3px;
            width: 170px;
            height: 18px;
            line-height: 18px;
            border: 1px solid #AFAFAF;
            font: 12px/18px Arial;
        }

        .example button {
            margin-right: 50px;
        }

        .checkie6 {
            padding: 3px;
            width: 178px;
            border: 1px solid #AFAFAF;
            font: 12px/1.5 Arial;
        }
    </style>
    <script src="{% static "vendors/datepicker/yui-min.js" %}"></script>
    <script>
        YUI({
            modules: {
                'trip-calendar': {
                    fullpath: '../static/vendors/datepicker/trip-calendar.js',
                    type: 'js',
                    requires: ['trip-calendar-css']
                },
                'trip-calendar-css': {
                    fullpath: '../static/vendors/datepicker/trip-calendar.css',
                    type: 'css'
                }
            }
        }).use('trip-calendar', function (Y) {

            /**
             * 弹出式日历实例
             * 将日历与指定的触发元素绑定
             * 日历可根据浏览器窗口大小，自动调整显示位置
             */
            var oCal = new Y.TripCalendar({
                //绑定日历的节点，支持选择器模式，可批量设置（必选）
                triggerNode: '.J_Item, #J_Item-1, #J_Item-2, button, .J_Link'
            });

            oCal.on('dateclick', function (e) {
                this.getCurrentNode().setAttribute('data-date', e.date);
            });

            //显示日历时自定义事件
            oCal.on('show', function () {
                var v = this.getCurrentNode().getAttribute('data-date');
                this.set('date', v || new Date);
                this.set('selectedDate', v).render();
            });

            //解决chrome的foucs事件bug
            Y.on('click', function (e) {
                e.currentTarget.focus();
            }, 'button, .J_Link');
        });
    </script>

{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>信息录入</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">老年人信息管理</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">信息录入</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">

                            <h6 class="card-title">老年人信息录入</h6>

                            <div class="row">
                                <div class="col-md-8">
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">姓名</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="请输入老人姓名">
                                            </div>
                                        </div>
                                        <fieldset class="form-group">
                                            <div class="row">
                                                <div class="col-form-label col-sm-4 pt-0">性别</div>
                                                <div class="col-sm-8">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                               name="gridRadios" id="gridRadios1" value="option1"
                                                               checked>
                                                        <label class="form-check-label" for="gridRadios1">
                                                            男
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                               name="gridRadios" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                            女
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">电话</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="请输入电话号码">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">身份证号</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="请输入身份证号">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">出生日期</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="J_Item" autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">入养老院日期</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="J_Item" autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">离开养老院日期</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="J_Item" autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">图像目录</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="请输入图像目录">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">头像路径</label>
                                            <div class="col-sm-8">
                                                <div class="fileinput fileinput-new" data-provides="fileinput"
                                                     id="exampleInputUpload">
                                                    <div class="fileinput-new thumbnail"
                                                         style="width: 200px;height: auto;max-height:150px;">
                                                        <img id='picImg'
                                                             style="width: 100%;height: auto;max-height: 140px;"
                                                             src="../static/assets/media/images/noimage.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail"
                                                         style="max-width: 200px; max-height: 150px;"></div>
                                                    <div>
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileinput-new">选择文件</span>
                                                                <span class="fileinput-exists">换一张</span>
                                                                <input type="file" name="pic1" id="picID"
                                                                       accept="image/gif,image/jpeg,image/x-png">
                                                            </span>
                                                        <a href="javascript:;"
                                                           class="btn btn-warning fileinput-exists"
                                                           data-dismiss="fileinput">移除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">房间号</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入老人所在的房间号">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第一监护人姓名</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入第一监护人姓名">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">与第一监护人关系</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入老人与该监护人的关系">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第一监护人电话</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入第一监护人的电话号码">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第一监护人微信</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入第一监护人的微信号">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第二监护人姓名</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入第二监护人姓名">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">与第二监护人关系</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入老人与该监护人的关系">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第二监护人电话</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入第二监护人的电话号码">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">第二监护人微信</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       placeholder="请输入第二监护人的微信号">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">健康状况</label>
                                            <div class="col-sm-8">
                                                    <textarea class="form-control" rows="3"
                                                              placeholder="请输入老人的健康状况信息"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">描述</label>
                                            <div class="col-sm-8">
                                                    <textarea class="form-control" rows="3"
                                                              placeholder="请输入描述内容"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">删除标志</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="请输入删除标志">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">录入信息</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->
{% endblock %}

{% block app-foot %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-fileinput.js" %}"></script>
{% endblock %}