{% extends template_name %}
{% load static %}

{% block app-head %}
    <title>公告展示列表</title>
    <style>
        .media > img {
            width: auto;
        }

        .media img {
            max-height: 120px; /* 限制图片的最大高度 */
            max-width: 160px; /* 限制图片的最大宽度 */
            object-fit: cover; /* 覆盖容器，保持宽高比 */
        }

    </style>
    <!-- My styles -->
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" type="text/css">
{% endblock %}

{% block app-content %}
    <!-- begin::container -->
    <div class="container">
        <!-- begin::page-header -->
        <div class="page-header">
            <h4>社区活动列表</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">社区活动管理</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">社区活动列表</li>
                </ol>
            </nav>
        </div>
        <!-- end::page-header -->
        <div class="row">
            <div class="card col-12 col-sm-12 col-lg-12"
                 data-backround-image="{% static 'assets/media/image/image1.png' %}">
                <div class="card-body p-0 overflow-hidden"
                     style="border-radius: 10px; box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 2px 10px rgba(0,0,0,0.2);">
                    <div class="page-header page-header-cover p-t-b-40 mb-0">
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <h1 class="mb-4 text-center">社区活动展示</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in page_obj %}
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="card-node" data-toggle="modal" data-target="#node-modal-120">
                        <div class="card-body" style="background-color: #FFFFFF;border-radius: 0.5rem;">
                            <ul class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">
                                <a href="{% url 'activity_info' %}?id={{ item.id }}" methods="GET" class="media-link">
                                    <li class="media">
                                        {% if item.image %}
                                            <img alt="image" class="mr-2 rounded-circle" style="width: 20%"
                                                 src="{{ item.image.url }}">
                                        {% else %}
                                            <img alt="image" class="mr-2 rounded-circle" style="width: 20%"
                                                 src="{% static 'assets/media/image/image1.png' %}">
                                        {% endif %}
                                        <div class="media-body">
                                            <div class="media-title node-status node-is-online">{{ item.name }}
                                            </div>
                                            <div class=" text-job text-muted">{{ item.introduction }}</div>
                                        </div>
                                        <div class="media-items" style="width: 30%">
                                            <div class="media-item">
                                                <div class="media-value">开始时间</div>
                                                <div class="media-label">{{ item.start_time|date:"Y-m-d"|default:'暂无' }}</div>
                                            </div>
                                            <div class="media-item">
                                                <div class="media-value">结束时间</div>
                                                <div class="media-label">{{ item.end_time|date:"Y-m-d"|default:'暂无' }}</div>
                                            </div>
                                            <div class="media-item">
                                                <div class="media-value">状态</div>
                                                <div class="media-label">{{ item.get_status_display }}</div>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="?key={{ key }}&page=1">首页</a>
                                </li>
                                {% if page_obj.number > 1 %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?key={{ key }}&page={{ page_obj.previous_page_number }}">&laquo;
                                            上一页</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?key={{ key }}&page=1">&laquo;
                                            上一页</a>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?key={{ key }}&page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?key={{ key }}&page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?key={{ key }}&page={{ page_obj.next_page_number }}">下一页
                                            &raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?key={{ key }}&page={{ page_obj.number }}">下一页
                                            &raquo;</a>
                                    </li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?key={{ key }}&page={{ page_obj.paginator.num_pages }}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-auto">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="page-number">跳转到页码:</label>
                                <input type="number" class="form-control mx-2" id="page-number"
                                       min="1" max="{{ page_obj.paginator.num_pages }}"
                                       value="{{ page_obj.number }}">
                                <button type="submit" class="btn btn-primary"
                                        onclick="event.preventDefault(); window.location.href='?key={{ key }}&page=' + document.getElementById('page-number').value;">
                                    跳转
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app-foot %}

{% endblock %}
