{% extends "template/index_manager_tem.html" %}
{% load static %}

{% block app-head %}
    <title>公告展示列表</title>
    <style>
        .media > img {
            width: auto;
        }
    </style>
        <!-- My styles -->
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" type="text/css">
{% endblock %}

{% block app-content %}
    <!-- begin::container -->
    <div class="container">
        <!-- begin::page-header -->
        <div class="page-header">
            <h4>社区活动列表</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">社区活动管理</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">社区活动列表</li>
                </ol>
            </nav>
        </div>
        <!-- end::page-header -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body p-0 overflow-hidden">
                    <div class="page-header page-header-cover p-t-b-40 mb-0"
                         data-backround-image="{% static 'assets/media/image/image1.png' %}">
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <h2 class="mb-4 text-center">社区活动展示</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in communityEvent %}
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="card-node" data-toggle="modal" data-target="#node-modal-120">
                        <div class="card-body" style="background-color: #FFFFFF;border-radius: 0.5rem;">
                            <ul class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">
                                <a href="{% url 'activity_info' %}?activity_id={{ item.id }}" methods="GET" class="media-link">
                                <li class="media">
                                    <img alt="image" class="mr-2 rounded-circle" style="width: 20%"
                                         src="{{ MEDIA_URL }}{{ item.image }}">
                                    <div class="media-body">
                                        <div class="media-title node-status node-is-online">{{ item.name }}
                                        </div>
                                        <div class=" text-job text-muted">{{ item.description }}</div>
                                    </div>
                                    <div class="media-items" style="width: 30%">
                                        <div class="media-item">
                                            <div class="media-value">开始时间</div>
                                            <div class="media-label">{{ item.start_time|date:"Y-m-d" }}</div>
                                        </div>
                                        <div class="media-item">
                                            <div class="media-value">结束时间</div>
                                            <div class="media-label">{{ item.end_time|date:"Y-m-d" }}</div>
                                        </div>
                                        <div class="media-item">
                                            <div class="media-value">状态</div>
                                            <div class="media-label">{{ item.get_status_display }}</div>
                                        </div>
                                    </div>
                                </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block app-foot %}

{% endblock %}
