{% extends template_name %}
{% load static %}

{% block app-head %}
    <title>账号信息</title>
    <!-- sweetalert2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.min.css' %}">
    <style>
        .avatar img {
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>账号信息</h4>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-4">

                    <div class="card">
                        <div class="card-body text-center">
                            <figure class="avatar avatar-lg m-b-10" style="cursor: pointer;">
                                {% if item.user_photo %}
                                    <img src="{{ item.user_photo.url }}" class="rounded-circle" alt="User Photo"
                                         id="user-photo">
                                {% else %}
                                    <img src="{% static 'assets/media/image/user/1.png' %}" class="rounded-circle"
                                         alt="User Photo" id="user-photo">
                                {% endif %}
                            </figure>
                            <div><small>点击更换头像</small></div>
                            <h5 class="mb-1">{{ username|default:"匿名用户" }}</h5>
                            <p class="text-muted small">{{ grade }}</p>
                            <p id="bio-display">{{ bio|default:"这个人很懒什么都没留下" }}</p>
                            <a id="edit-info-btn" onclick="editInfo()" class="btn btn-outline-primary">
                                <i data-feather="edit-2" class="mr-2"></i>编辑个人信息
                            </a>
                        </div>
                        <hr class="m-0">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-12 text-success">
                                    <h4 class="font-weight-bold">{{ user_id|default:"暂无" }}</h4>
                                    <span>账户ID</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-between align-items-center">
                                信息
                                <a id=editButton onclick="editAll()" class="btn btn-outline-light btn-sm">
                                    <i data-feather="edit-2" class="mr-2"></i> 编辑
                                </a>
                            </h6>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">账户ID：</div>
                                <div class="col-4">{{ user_id|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">用户名字：</div>
                                <div id="username-input" class="col-4">{{ username|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">用户类型：</div>
                                <div id="grade-input" class="col-4">{{ grade|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">性别：</div>
                                <div id="gender-input" class="col-4">{{ gender|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">邮箱：</div>
                                <div id="email-input" class="col-4">{{ email|default:"" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">手机:</div>
                                <div id="mobile_phone-input" class="col-4">{{ mobile_phone|default:"" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">电话:</div>
                                <div id="phone-input" class="col-4">{{ phone|default:"" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">创建时间：</div>
                                <div id="creation_time-input"
                                     class="col-4">{{ item.creation_time|date:'Y/m/d'|default:"" }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>登录记录</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">IP</th>
                                    <th scope="col">归属地</th>
                                    <th scope="col">最近登录时间</th>
                                    <th scope="col">登录次数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in ip_addr %}
                                    <tr class="shadow-sm">
                                        <td>{{ item.ip }}</td>
                                        <td>{{ item.ip_addr }}</td>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.count }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->


    <!-- Modal for changing profile picture -->
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="photoModalLabel">更换头像</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" id="photo-input" accept="image/*">
                    <button id="upload-photo" class="btn btn-primary">上传</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app-foot %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-fileinput.js" %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- sweetalert2 -->
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <!-- notify -->
    <script src="{% static 'js/notify.js' %}"></script>
    <script>
        function getCsrfToken() {
            // 从cookie中获取CSRF令牌
            let csrfToken = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === ('csrftoken=')) {
                        csrfToken = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return csrfToken;
        }

        function editAll() {
            // 直接使用forEach并通过index判断是否跳过第一个元素
            document.querySelectorAll('.row.mb-2').forEach(function (row, index) {
                // 如果是第一个元素，则跳过
                if (index === 0 || index === 7 || index === 2) return;

                const infoDiv = row.children[1];

                if (!infoDiv.querySelector('input') && !infoDiv.querySelector('select')) {
                    const infoDivId = infoDiv.id; // ID 用于可能的进一步操作或引用
                    const currentValue = infoDiv.textContent.trim(); // 当前文本内容，用于初始化值

                    if (index === 3) { // 特别为第四个元素创建选择框
                        const select = document.createElement('select');
                        select.className = 'form-control';
                        select.style.height = '2.0rem';
                        // 为 select 添加选项，这里的值可以根据需要更改
                        ['男', '女', '无'].forEach(function (optionText) {
                            const option = document.createElement('option');
                            option.value = optionText;
                            option.textContent = optionText;
                            if (currentValue === optionText) {
                                option.selected = true;
                            }
                            select.appendChild(option);
                        });
                        infoDiv.textContent = ''; // 清空原始内容
                        infoDiv.appendChild(select); // 添加新的 select 元素
                    } else { // 其他元素仍使用输入框
                        const input = document.createElement('input');
                        input.type = 'text';
                        input.value = currentValue;
                        input.className = 'form-control';
                        input.style.height = '1.5rem';
                        infoDiv.textContent = '';
                        infoDiv.appendChild(input);
                    }
                }
            });

            // 获取编辑/保存按钮
            var editButton = document.getElementById('editButton');

            // 检查当前是编辑模式还是保存模式
            if (editButton.textContent.includes('编辑')) {
                // 更改按钮文本为"保存"并更改其onclick事件为调用saveAll()函数
                editButton.innerHTML = '<i id="editIcon" data-feather="save" class="mr-2"></i> 保存';
                editButton.setAttribute('onclick', 'saveAll()');
                feather.replace(); // 重新初始化feather icons
            }
        }

        function saveAll() {
            document.querySelectorAll('.row.mb-2').forEach(function (row, index) {
                // 如果是第一个元素或特定的跳过元素，则返回
                if (index === 0 || index === 7 || index === 2) return;

                const infoInput = row.children[1].querySelector('input');
                const infoSelect = row.children[1].querySelector('select');

                if (infoInput) {
                    const newValue = infoInput.value.trim();
                    const infoDiv = row.children[1];
                    infoDiv.innerHTML = newValue; // 将新值设置回div
                }
                if (infoSelect) {
                    const selectedValue = infoSelect.options[infoSelect.selectedIndex].text; // 获取选择框的选中文本
                    row.children[1].innerHTML = selectedValue; // 更新显示的值
                }
            });
            var data = {
                creation_time: document.getElementById('creation_time-input').textContent,
                email: document.getElementById('email-input').textContent,
                username: document.getElementById('username-input').textContent,
                grade: document.getElementById('grade-input').textContent,
                gender: document.getElementById('gender-input').textContent,
                mobile_phone: document.getElementById('mobile_phone-input').textContent,
                phone: document.getElementById('phone-input').textContent,
                mobile_phone_old: '{{ mobile_phone }}'
            };

            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "{% url 'update_profile' %}", // 路径
                async: true, // 是否异步
                beforeSend: function (xhr) {
                    // 将CSRF令牌设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                data: JSON.stringify(data), // 将数据转换为JSON字符串
                contentType: "application/json; charset=utf-8", // 设置发送信息至服务器时内容编码类型
                dataType: "json", // 预期服务器返回的数据类型
                // 成功的回调函数
                success: function (response) {
                    if (response.ret === 1) {
                        $.notify({
                            message: '<strong>' + response.message + '</strong>'
                        }, {
                            type: 'success',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 1000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    } else {
                        $.notify({
                            message: '<strong>' + response.message + '</strong>'
                        }, {
                            type: 'danger',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 1000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    }
                },
                // 请求超时设置（可选）
                timeout: 20000,
                // 失败的回调函数
                error: function (xhr, status, error) {
                    $.notify({
                        message: '<strong>更新失败</strong>'
                    }, {
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        timer: 1000,
                        animate: {
                            enter: 'animated zoomIn',
                            exit: 'animated zoomOut'
                        }
                    });
                }
            });

            // 获取编辑/保存按钮
            var editButton = document.getElementById('editButton');

            // 更改按钮文本为"编辑"并更改其onclick事件为调用editAll()函数
            editButton.innerHTML = '<i id="editIcon" data-feather="edit-2" class="mr-2"></i> 编辑';
            editButton.setAttribute('onclick', 'editAll()');
            feather.replace(); // 重新初始化feather icons
        }
    </script>
    <script>
        function editInfo() {
            // 将自我介绍转换为<textarea>
            var bio = document.getElementById('bio-display').innerText;
            document.getElementById('bio-display').innerHTML = `<textarea id="bio-input">${bio}</textarea>`;

            // 获取编辑/保存按钮
            var editButton = document.getElementById('edit-info-btn');

            // 更改按钮文本为"编辑"并更改其onclick事件为调用editAll()函数
            editButton.innerHTML = '<i data-feather="save" class="mr-2"></i>保存自我介绍';
            editButton.setAttribute('onclick', 'saveInfo()');
            feather.replace(); // 重新初始化feather icons
        }

        function saveInfo() {
            document.getElementById('bio-display').innerText = document.getElementById('bio-input').value;
            data = {
                bio: document.getElementById('bio-display').textContent,
                mobile_phone_old: '{{ mobile_phone }}'
            }
            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "/api/update_profile/", // 路径
                async: true, // 是否异步
                beforeSend: function (xhr) {
                    // 将CSRF令牌设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                data: JSON.stringify(data), // 将数据转换为JSON字符串
                contentType: "application/json; charset=utf-8", // 设置发送信息至服务器时内容编码类型
                dataType: "json", // 预期服务器返回的数据类型
                // 成功的回调函数
                success: function (response) {
                    $.notify({
                        message: '<strong>' + response.message + '</strong>'
                    }, {
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        timer: 1000,
                        animate: {
                            enter: 'animated zoomIn',
                            exit: 'animated zoomOut'
                        }
                    });
                },
                // 请求超时设置（可选）
                timeout: 20000,
                // 失败的回调函数
                error: function (xhr, status, error) {
                    $.notify({
                        message: '<strong>更新失败</strong>'
                    }, {
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        timer: 1000,
                        animate: {
                            enter: 'animated zoomIn',
                            exit: 'animated zoomOut'
                        }
                    });
                }
            });
            // 获取编辑/保存按钮
            var editButton = document.getElementById('edit-info-btn');

            // 更改按钮文本为"编辑"并更改其onclick事件为调用editAll()函数
            editButton.innerHTML = '<i data-feather="edit-2" class="mr-2"></i>编辑自我介绍';
            editButton.setAttribute('onclick', 'editInfo()');
            feather.replace(); // 重新初始化feather icons
        }
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#user-photo').click(function () {
                $('#photoModal').modal('show');  // 显示模态框
            });

            $('#upload-photo').click(function () {
                var fileData = $('#photo-input').prop('files')[0];
                var formData = new FormData();
                formData.append('photo', fileData);

                $.ajax({
                    url: '{% url 'update_photo' %}',  // 替换为你的上传处理URL
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        alert('头像更新成功!');
                        $('#photoModal').modal('hide'); // 隐藏模态框
                        $('#user-photo').attr('src', URL.createObjectURL(fileData)); // 更新头像显示
                    },
                    error: function () {
                        alert('上传失败，请重试。');
                    }
                });
            });
        });
    </script>

{% endblock %}