{% extends template_name %}
{% load static %}

{% block app-head %}

{% endblock %}

{% block app-content %}
    <div class="container mt-4">
        {% if item.service_photo and item.service_photo.url %}
            <div class="card"
                 style="background: url('{{ item.service_photo.url }}') no-repeat center center; background-size: cover;">
                <div class="card-header">详情信息
                    <div>
                        <div class="card-body bg-light opacity-95">
                            <p class="card-text"><strong>服务名称:</strong> {{ item.customerName }}</p>
                            <p class="card-text"><strong>服务内容:</strong> {{ item.content|safe }}</p>
                            <p class="card-text"><strong>服务类型:</strong> {{ item.get_type_display }}</p>
                            <p class="card-text"><strong>服务对象:</strong> {{ item.target_group|default:'暂无' }}</p>
                            <p class="card-text"><strong>服务时间:</strong> {{ item.service_hours|default:'暂无' }}</p>
                            <p class="card-text"><strong>服务区域:</strong> {{ item.service_area|default:'暂无' }}</p>
                            <p class="card-text"><strong>资质认证:</strong> {{ item.qualifications|default:'暂无' }}</p>
                            <p class="card-text">
                                <strong>客户评价:</strong> {{ item.customer_reviews|default:"暂无评价" }}
                            </p>
                            <p class="card-text"><strong>附加费用:</strong> {{ item.additional_costs|default:"无" }}</p>
                            <p class="card-text"><strong>服务费用:</strong> {{ item.cost|floatformat:2|default:'暂无' }}
                                元
                            </p>
                        </div>
                        <div class="card-footer bg-transparent text-muted">
                            <button onclick="history.back();" class="btn btn-primary">返回
                            </button>
                            <button onclick="window.location.href='{% url 'add_service' %}?id={{ item.id }}';"
                                    class="btn btn-primary">立即下单
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card"
                 style="background: url('{% static 'assets/media/image/image1.png' %}') no-repeat center center; background-size: cover;">
                <div class="card-header">详情信息
                    <div>
                        <div class="card-body bg-light opacity-95">
                            <p class="card-text"><strong>服务名称:</strong> {{ item.name }}</p>
                            <p class="card-text"><strong>服务内容:</strong> {{ item.content|safe }}</p>
                            <p class="card-text"><strong>服务类型:</strong> {{ item.get_type_display }}</p>
                            <p class="card-text"><strong>服务对象:</strong> {{ item.target_group|default:'暂无' }}</p>
                            <p class="card-text"><strong>服务时间:</strong> {{ item.service_hours|default:'暂无' }}</p>
                            <p class="card-text"><strong>服务区域:</strong> {{ item.service_area|default:'暂无' }}</p>
                            <p class="card-text"><strong>资质认证:</strong> {{ item.qualifications|default:'暂无' }}</p>
                            <p class="card-text">
                                <strong>客户评价:</strong> {{ item.customer_reviews|default:"暂无评价" }}
                            </p>
                            <p class="card-text"><strong>附加费用:</strong> {{ item.additional_costs|default:"无" }}</p>
                            <p class="card-text"><strong>服务费用:</strong> {{ item.cost|floatformat:2|default:'暂无' }}
                                元
                            </p>
                        </div>
                        <div class="card-footer bg-transparent text-muted">
                            <button onclick="history.back();" class="btn btn-primary">返回
                            </button>
                            <button onclick="window.location.href='{% url 'add_service' %}?id={{ item.id }}';"
                                    class="btn btn-primary">立即下单
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block app-foot %}

{% endblock %}