{% extends "template/index_manager_tem.html" %}
{% load static %}

{% block app-head %}
    <title>编辑公告信息</title>
    <link href="{% static "assets/css/bootstrap-fileinput.css" %}" rel="stylesheet">
    <script src="{% static 'plugin/tinymce/js/tinymce/tinymce.min.js' %}"
            referrerpolicy="origin"></script>
    <style>
        body {
            padding: 0;
            margin: 0 10px;
        }

        .title {
            padding: 0;
            margin: 10px 0;
            font: 700 18px/1.5 \5fae\8f6f\96c5\9ed1;
            text-align: center;
        }

        .title a {
            font: 400 14px/1.5 Tahoma;
            margin-left: 20px;
        }

        .example {
            position: absolute;
            top: 150px;
            left: 50%;
            margin-left: -275px;
            font-size: 12px;
        }

        .example .item {
            border: 1px solid #85BEE5;
        }

        .example input {
            color: #404040;
            padding: 3px;
            width: 170px;
            height: 18px;
            line-height: 18px;
            border: 1px solid #AFAFAF;
            font: 12px/18px Arial;
        }

        .example button {
            margin-right: 50px;
        }

        .checkie6 {
            padding: 3px;
            width: 178px;
            border: 1px solid #AFAFAF;
            font: 12px/1.5 Arial;
        }
    </style>
<script src="{% static "plugin/yui3-3.18.1/yui3/build/yui/yui-min.js" %}"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough image',
            language: 'zh_CN',
            plugins: 'image',
            images_reuse_filename: true,
            automatic_uploads: true,
            images_upload_url: '{% url 'image_upload' %}',
        });
    </script>
    <style>
        .tox .tox-promotion {
            display: none !important;
        }

        .tox-statusbar__right-container {
            display: none !important;
        }
    </style>
    <script>
        YUI({
            modules: {
                'trip-calendar': {
                    fullpath: '{% static 'vendors/datepicker/trip-calendar.js' %}',
                    type: 'js',
                    requires: ['trip-calendar-css']
                },
                'trip-calendar-css': {
                    fullpath: '{% static 'vendors/datepicker/trip-calendar.css' %}',
                    type: 'css'
                }
            }
        }).use('trip-calendar', function (Y) {

            /**
             * 弹出式日历实例
             * 将日历与指定的触发元素绑定
             * 日历可根据浏览器窗口大小，自动调整显示位置
             */
            var oCal = new Y.TripCalendar({
                //绑定日历的节点，支持选择器模式，可批量设置（必选）
                triggerNode: '.J_Item, #J_Item-1, #J_Item-2, .J_Link'
            });

            oCal.on('dateclick', function (e) {
                this.getCurrentNode().setAttribute('data-date', e.date);
            });

            //显示日历时自定义事件
            oCal.on('show', function () {
                var v = this.getCurrentNode().getAttribute('data-date');
                this.set('date', v || new Date);
                this.set('selectedDate', v).render();
            });

            //解决chrome的foucs事件bug
            Y.on('click', function (e) {
                e.currentTarget.focus();
            }, '.J_Item, button, .J_Link');
        });
    </script>
    <!-- sweetalert2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.min.css' %}">
    <style>
        .announcement-title {
            color: #333;
            text-align: center;
        }

        .announcement-date {
            text-align: center;
            color: #777;
            margin-bottom: 20px;
        }

        .announcement-image {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .announcement-content p {
            color: #666;
            line-height: 1.6;
        }

        .announcement-content ul {
            list-style-type: none;
            padding: 0;
        }

        .announcement-content li {
            background-color: #eee;
            margin-bottom: 10px;
            padding: 10px;
            border-left: 5px solid #333;
        }
    </style>
    <style>
        .announcement-content {
            padding-left: 80px; /* 保持你的左侧填充 */
            padding-right: 80px; /* 保持你的右侧填充 */
            overflow-wrap: break-word; /* 确保长单词可以在边界处自动换行 */
            word-wrap: break-word; /* 老版本的浏览器可能需要这个 */
            overflow: hidden; /* 隐藏溢出容器的内容 */
        }

        .announcement-content img {
            border-radius: .25rem;
            max-width: 100%; /* 使图片宽度不超过容器宽度 */
            height: auto; /* 高度自动调整以保持图片比例 */
            display: block; /* 避免图片底部有空隙 */
        }

        .announcement-header {
            border-radius: .25rem;
            position: relative;
            background-size: cover;
            background-position: center;
            min-height: 200px; /* 根据需要调整高度 */
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white; /* 设置文字颜色为白色，根据背景图片调整 */
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8); /* 增加文字的可读性 */
        }

        .announcement-header::before {
            border-radius: .25rem;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6); /* 增加透明度以更深色的覆盖层 */
            z-index: 0;
        }

        .announcement-title {
            font-size: 24px; /* 或根据设计调整更大的尺寸 */
            font-weight: bold; /* 使用粗体 */
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8), -1px -1px 10px rgba(0, 0, 0, 0.8);
        }


        .announcement-title, .announcement-date {
            color: white;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8), -1px -1px 10px rgba(0, 0, 0, 0.8); /* 增加了一个额外的反向阴影以增强效果 */
            z-index: 1;
            position: relative;
        }

    </style>
{% endblock %}

{% block app-content %}
    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>编辑公告信息</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">公告信息管理</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'announcement_modify' %}">公告信息管理列表</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">编辑公告信息</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-between align-items-center">
                                原信息
                            </h6>
                            {% if item.announcement_photo %}
                                <div class="announcement-header"
                                     style="background-image: url('{{ item.announcement_photo.url }}');">
                                    <h1 class="announcement-title">{{ item.title }}</h1>
                                    <p class="announcement-date">发布日期: {{ item.published_date|date:"Y-m-d" }}</p>
                                </div>
                            {% else %}
                                <div class="announcement-header"
                                     style="background-image: url({% static 'assets/media/image/image1.png' %});">
                                    <h1 class="announcement-title">{{ item.title }}</h1>
                                    <p class="announcement-date">发布日期: {{ item.published_date|date:"Y-m-d" }}</p>
                                </div>
                            {% endif %}
                            <div class="row mb-2">
                                <div class="col-12 text-muted">公告内容：</div>
                                <div class="announcement-content p-l-80 p-r-80">
                                    {{ item.content|safe }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">发布时间：</div>
                                <div class="col-6">{{ item.published_date|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">发布方：</div>
                                <div class="col-6">{{ item.publisher|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">创建时间：</div>
                                <div class="col-6">{{ item.created|date:"Y-m-d" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">创建人：</div>
                                <div class="col-6">{{ item.updated_by|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">更新时间：</div>
                                <div class="col-6">{{ item.updated|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">更新人：</div>
                                <div class="col-6">{{ item.updated_by|default:"暂无" }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 text-muted">状态：</div>
                                <div class="col-6">{{ item.get_status_display }}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <h2 class="mb-4">公告信息修改</h2>
                            <form id="formId" action="javascript:void(0);" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="title" class="form-label">标题</label>
                                    <input type="text" class="form-control" id="title" name="title"
                                           placeholder="请输入公告标题" value="{{ item.title }}">
                                </div>
                                <div class="mb-3">
                                    <label for="introduction" class="form-label">简介</label>
                                    <input type="text" class="form-control" id="introduction" name="introduction"
                                           placeholder="请输入公告简介" value="{{ item.introduction }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">封面照片</label>
                                    <div class="col-sm-8">
                                        <div class="fileinput fileinput-new" data-provides="fileinput"
                                             id="exampleInputUpload">
                                            <div class="fileinput-new thumbnail"
                                                 style="width: 200px; height: auto; max-height:150px;">
                                                {% if item.announcement_photo %}
                                                    <img id='picImg'
                                                         style="width: 100%; height: auto; max-height: 140px;"
                                                         src="{{ item.announcement_photo.url }}"
                                                         alt=""/>
                                                {% else %}
                                                    <img id='picImg'
                                                         style="width: 100%; height: auto; max-height: 140px;"
                                                         src="{% static 'assets/media/image/noimage.png' %}"
                                                         alt=""/>
                                                {% endif %}
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                 style="max-width: 200px; max-height: 150px;"></div>
                                            <div><span class="btn btn-primary btn-file"><span
                                                    class="fileinput-new">选择文件</span>
                                                        <span class="fileinput-exists">换一张</span>
                                                        <input type="file" name="pic1" id="picID"
                                                               accept="image/gif,image/jpeg,image/x-png,image/webp">
                                                    </span>
                                                <a href="javascript:;" class="btn btn-warning fileinput-exists"
                                                   data-dismiss="fileinput">移除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="content" class="form-label">内容</label>
                                    <textarea class="form-control" id="mytextarea" name="content"
                                              placeholder="请输入公告内容..."> {{ item.content }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="publisher" class="form-label">发布方</label>
                                    <input type="text" class="form-control" id="publisher" name="publisher"
                                           placeholder="请输入公告发布方" value="{{ item.publisher|default:'暂无' }}">
                                </div>
                                <div class="row" style="align-items: center;">
                                    <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                                        <div class="mb-3">
                                            <label for="published_date" class="form-label">发布日期</label>
                                            <input class="J_Item" id="published_date" name="published_date"
                                                   value="{{ item.published_date|date:"Y-m-d" }}">
                                            <small class="form-text text-muted">请选择或输入公告的发布日期和时间。</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                                        <div class="mb-3">
                                            <label for="expiry_date" class="form-label">过期日期</label>
                                            <input class="J_Item" id="expiry_date" name="expiry_date"
                                                   placeholder="请输入公告内容"
                                                   value="{{ item.expiry_date|date:"Y-m-d" }}">
                                            <small class="form-text text-muted ">请选择或输入公告的过期日期和时间。</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                                        <div class="mb-3" style="display: flex;flex-direction: column;">
                                            <label for="status" class="form-label">状态</label>
                                            <select class="form-select" id="status" name="status">
                                                <option value="active"
                                                        {% if item.status == 'active' %}selected{% endif %}>有效
                                                </option>
                                                <option value="inactive"
                                                        {% if item.status == 'inactive' %}selected{% endif %}>无效
                                                </option>
                                                <option value="expired"
                                                        {% if item.status == 'expired' %}selected{% endif %}>过期
                                                </option>
                                            </select>
                                            <small class="form-text text-muted ">请选择或输入公告的有效状态。</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                                        <div class="mb-3" style="display: flex;flex-direction: column;">
                                            <label for="status" class="form-label">发布状态</label>
                                            <select class="form-select" id="status" name="status">
                                                <option value="Flase"
                                                        {% if item.is_save %}selected{% endif %}>即时发布
                                                </option>
                                                <option value="True"
                                                        {% if not item.is_save %}selected{% endif %}>
                                                    存为草稿
                                                </option>
                                            </select>
                                            <small class="form-text text-muted ">请选择或输入公告的发布状态。</small>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="save-button" class="btn btn-primary"
                                        onclick="saveInfo()">修改信息
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->
{% endblock %}

{% block app-foot %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-fileinput.js" %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- sweetalert2 -->
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <!-- notify -->
    <script src="{% static 'js/notify.js' %}"></script>
    <script>
        function saveInfo() {
            tinymce.triggerSave();
            var form = $("#formId");
            var formData = new FormData(document.getElementById('formId'));
            formData.append("id", {{ item.id }})
            form.validate({
                ignore: [],
                rules: {
                    title: {
                        required: true
                    },
                    content: {
                        required: true
                    },

                },
                messages: {
                    title: "请填写标题",
                    content: "请填写内容",
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                    element.addClass('is-invalid');
                    error.addClass('invalid-feedback');
                }
            });
            if (!form.valid()) {
                $.notify({
                    message: '<strong>请填写完整公告信息</strong>'
                }, {
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    timer: 1000,
                    animate: {
                        enter: 'animated zoomIn',
                        exit: 'animated zoomOut'
                    }
                });
                return;
            }

            // 获取CSRF token的函数
            function getCsrfToken() {
                return $('[name="csrfmiddlewaretoken"]').val();
            }

            $("#save-button").text('信息修改中');
            $('#save-button').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "{% url 'announcement_modify_basic' %}", // 请求的 URL
                processData: false, // 告诉jQuery不要处理发送的数据
                contentType: false, // 告诉jQuery不要设置内容类型头
                data: formData, // 表单数据
                beforeSend: function (xhr) {
                    // 从cookie中获取CSRF令牌并设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                success: function (data) {
                    // 请求成功时的回调函数
                    if (data.ret === 1) {
                        swal.fire({
                            type: 'success',
                            title: '修改成功',
                            confirmButtonText: '查看公告信息',
                            confirmButtonClass: 'btn btn-info',
                            onClose: () => {
                                window.location.href = '{% url 'announcement_info' %}?id={{ item.id }}';
                            }
                        });
                    } else if (data.ret === 2) {
                        $("#save-button").text('修改信息');
                        $('#save-button').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                        $.notify({
                            message: '<strong>' + data.msg + '</strong>'
                        }, {
                            type: 'danger',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 2000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 请求失败时的回调函数
                    console.log('修改失败: ' + error);
                }
            });
        }
    </script>
{% endblock %}