{% extends "template/index_manager_tem.html" %}
{% load static %}

{% block app-head %}
    <title>社区公告发布</title>
    <script src="{% static 'plugin/tinymce/js/tinymce/tinymce.min.js' %}"
            referrerpolicy="origin"></script>
    <link href="{% static "assets/css/bootstrap-fileinput.css" %}" rel="stylesheet">
    <script>
        tinymce.init({
            selector: 'textarea',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough',
            language: 'zh_CN',
        });

    </script>
    <style>
        .tox .tox-promotion {
            display: none !important;
        }

        .tox-statusbar__right-container {
            display: none !important;
        }
    </style>
    <!-- 引入 flatpickr CSS -->
    <script src="{% static "vendors/datepicker/yui-min.js" %}"></script>
    <script>
        YUI({
            modules: {
                'trip-calendar': {
                    fullpath: "{% static 'vendors/datepicker/trip-calendar.js' %}",
                    type: 'js',
                    requires: ['trip-calendar-css']
                },
                'trip-calendar-css': {
                    fullpath: "{% static 'vendors/datepicker/trip-calendar.css' %}",
                    type: 'css'
                }
            }
        }).use('trip-calendar', function (Y) {

            /**
             * 弹出式日历实例
             * 将日历与指定的触发元素绑定
             * 日历可根据浏览器窗口大小，自动调整显示位置
             */
            var oCal = new Y.TripCalendar({
                //绑定日历的节点，支持选择器模式，可批量设置（必选）
                triggerNode: '.J_Item, #J_Item-1, #J_Item-2, .J_Link'
            });

            oCal.on('dateclick', function (e) {
                this.getCurrentNode().setAttribute('data-date', e.date);
            });

            //显示日历时自定义事件
            oCal.on('show', function () {
                var v = this.getCurrentNode().getAttribute('data-date');
                this.set('date', v || new Date);
                this.set('selectedDate', v).render();
            });

            //解决chrome的foucs事件bug
            Y.on('click', function (e) {
                e.currentTarget.focus();
            }, 'button, .J_Link');
        });
    </script>
    <!-- sweetalert2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.min.css' %}">
{% endblock %}

{% block app-content %}
    <div class="container mt-5">
        <div class="card">

            <div class="card-body">
                <h2 class="mb-4">发布社区公告</h2>
                <form id="formId" action="javascript:void(0);" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">标题</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="请输入公告标题">
                    </div>
                    <div class="mb-3">
                        <label for="introduction" class="form-label">简介</label>
                        <input type="text" class="form-control" id="introduction" name="introduction"
                               placeholder="请输入公告简介">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">封面照片</label>
                        <div class="col-sm-8">
                            <div class="fileinput fileinput-new" data-provides="fileinput"
                                 id="exampleInputUpload">
                                <div class="fileinput-new thumbnail"
                                     style="width: 200px; height: auto; max-height:150px;">
                                    <img id='picImg'
                                         style="width: 100%; height: auto; max-height: 140px;"
                                         src="{% static 'assets/media/image/noimage.png' %}"
                                         alt=""/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"
                                     style="max-width: 200px; max-height: 150px;"></div>
                                <div>
                                    <span class="btn btn-primary btn-file"><span class="fileinput-new">选择文件</span>
                                                        <span class="fileinput-exists">换一张</span>
                                                        <input type="file" name="pic1" id="picID"
                                                               accept="image/gif,image/jpeg,image/x-png,image/webp"></span>
                                    <a href="javascript:;" class="btn btn-warning fileinput-exists"
                                       data-dismiss="fileinput">移除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">内容</label>
                        <textarea class="form-control" id="mytextarea" name="content"
                                  placeholder="请输入公告内容..."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="publisher" class="form-label">发布方</label>
                        <input type="text" class="form-control" id="publisher" name="publisher"
                               placeholder="请输入公告发布方">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
                            <div class="mb-3">
                                <label for="published_date" class="form-label">发布日期</label>
                                <input class="J_Item" id="published_date" name="published_date">
                                <small class="form-text text-muted">请选择或输入公告的发布日期和时间。</small>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
                            <div class="mb-3">
                                <label for="expiry_date" class="form-label">过期日期</label>
                                <input class="J_Item" id="expiry_date" name="expiry_date" placeholder="请输入公告内容">
                                <small class="form-text text-muted ">请选择或输入公告的过期日期和时间。</small>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
                            <div class="mb-3">
                                <label for="status" class="form- p-b-50">状态</label>
                                <select class="form-select" id="status" name="status">
                                    <option value="active">有效</option>
                                    <option value="inactive">无效</option>
                                    <option value="expired">过期</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="save-button1" onclick="publishInfo()">发布公告
                    </button>
                    <button type="button" class="btn btn-secondary" id="save-button2" onclick="saveInfo()">保存草稿
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block app-foot %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-fileinput.js" %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- sweetalert2 -->
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <!-- notify -->
    <script src="{% static 'js/notify.js' %}"></script>

    <script>
        function publishInfo() {
            tinymce.triggerSave();
            var editorContent = tinymce.get("mytextarea").getContent();
            var form = $("#formId");
            var formData = new FormData(document.getElementById('formId'));
            formData.append('editorContent', editorContent)
            form.validate({
                ignore: [],
                rules: {
                    title: {
                        required: true
                    },
                    content: {
                        required: true
                    },

                },
                messages: {
                    title: "请填写标题",
                    content: "请填写内容",
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                    element.addClass('is-invalid');
                    error.addClass('invalid-feedback');
                }
            });
            if (!form.valid()) {
                $.notify({
                    message: '<strong>请填写完整公告信息</strong>'
                }, {
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    timer: 1000,
                    animate: {
                        enter: 'animated zoomIn',
                        exit: 'animated zoomOut'
                    }
                });
                return;
            }

            // 获取CSRF token的函数
            function getCsrfToken() {
                return $('[name="csrfmiddlewaretoken"]').val();
            }

            $("#save-button1").text('公告发布中');
            $('#save-button1').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "{% url 'announcement_add' %}", // 请求的 URL
                processData: false, // 告诉jQuery不要处理发送的数据
                contentType: false, // 告诉jQuery不要设置内容类型头
                data: formData, // 表单数据
                beforeSend: function (xhr) {
                    // 从cookie中获取CSRF令牌并设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                success: function (data) {
                    // 请求成功时的回调函数
                    if (data.ret === 1) {
                        swal.fire({
                            type: 'success',
                            title: '发布成功',
                            confirmButtonText: '查看公告列表信息',
                            confirmButtonClass: 'btn btn-info',
                            onClose: () => {
                                window.location.href = '/management/announcement_list/';
                            }
                        });
                    } else if (data.ret === 2) {
                        $("#save-button1").text('发布公告');
                        $('#save-button1').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                        $.notify({
                            message: '<strong>' + data.msg + '</strong>'
                        }, {
                            type: 'danger',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 2000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 请求失败时的回调函数
                    console.log('更新失败: ' + error);
                }
            });
        }
    </script>
    <script>
        function saveInfo() {
            tinymce.triggerSave();
            var editorContent = tinymce.get("mytextarea").getContent();
            var form = $("#formId");
            var formData = new FormData(document.getElementById('formId'));
            formData.append('is_save', 'false')
            formData.append('editorContent', editorContent)
            form.validate({
                ignore: [],
                rules: {
                    title: {
                        required: true
                    },
                    content: {
                        required: true
                    },

                },
                messages: {
                    title: "请填写标题",
                    content: "请填写内容",
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                    element.addClass('is-invalid');
                    error.addClass('invalid-feedback');
                }
            });
            if (!form.valid()) {
                $.notify({
                    message: '<strong>请填写完整公告信息</strong>'
                }, {
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    timer: 1000,
                    animate: {
                        enter: 'animated zoomIn',
                        exit: 'animated zoomOut'
                    }
                });
                return;
            }

            // 获取CSRF token的函数
            function getCsrfToken() {
                return $('[name="csrfmiddlewaretoken"]').val();
            }

            $("#save-button2").text('公告保存中');
            $('#save-button2').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            // 使用 jQuery 的 $.ajax 方法发送数据
            $.ajax({
                type: "POST", // 请求方式
                url: "{% url 'announcement_add' %}", // 请求的 URL
                processData: false, // 告诉jQuery不要处理发送的数据
                contentType: false, // 告诉jQuery不要设置内容类型头
                data: formData, // 表单数据
                beforeSend: function (xhr) {
                    // 从cookie中获取CSRF令牌并设置到请求头中
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                success: function (data) {
                    // 请求成功时的回调函数
                    if (data.ret === 1) {
                        swal.fire({
                            type: 'success',
                            title: '保存成功',
                            confirmButtonText: '查看公告管理列表',
                            confirmButtonClass: 'btn btn-info',
                            onClose: () => {
                                window.location.href = '/management/announcement_list/';
                            }
                        });
                    } else if (data.ret === 2) {
                        $("#save-button2").text('发布公告');
                        $('#save-button2').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                        $.notify({
                            message: '<strong>' + data.msg + '</strong>'
                        }, {
                            type: 'danger',
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            timer: 2000,
                            animate: {
                                enter: 'animated zoomIn',
                                exit: 'animated zoomOut'
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 请求失败时的回调函数
                    console.log('更新失败: ' + error);
                }
            });
        }
    </script>
{% endblock %}
